#page-timeline-index {
  margin: 10px 0;

  .item-timeline {
    margin-top: 15px;

    &:first-of-type {
      margin-top: 0px;
    }
  }

  .btn-create {
    position: fixed;
    bottom: 60rpx;
    right: 40rpx;
    z-index: 9999;
    width: 50px;
    height: 50px;
    border-bottom: 50%;

    .icon {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
