#page-posts-index {
  padding-top: 20rpx;
  padding-bottom: 30rpx;

  .item-post {
    margin-top: 30rpx;

    &:first-of-type {
      margin-top: 0rpx;
    }
  }

  .btn-create {
    z-index: 99;
    position: fixed;
    bottom: 60rpx;
    right: 40rpx;
    width: 50px;
    height: 50px;
    border-bottom: 50%;

    .icon {
      font-size: 20px;
      font-weight: bold;
    }
  }

  #popup-comment-create {
    z-index: 999;
    .form {
      margin: 30rpx;

      .caption {
        font-size: 36rpx;
        color: #333;
        box-sizing: border-box;
        margin-bottom: 16rpx;
      }

      .textarea-content {
        padding: 16rpx;
        width: 100%;
        line-height: 1.5em;
        height: calc(4.5em + 32rpx);
      }

      .btn-send {
        margin-left: 20rpx;
        height: calc(4.5em + 32rpx);
      }
    }
  }
}
