#page-posts-index {
  .items-post {
    padding-top: 20rpx;
    padding-bottom: 10rpx;

    .item-post {
      margin-bottom: 20rpx;
    }
  }

  /**
   * 右下角创建按钮
   */
  .btn-create {
    z-index: 99;
    position: fixed;
    bottom: 60rpx;
    right: 40rpx;
    width: 50px;
    height: 50px;
    border-bottom: 50%;

    .icon {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
