#page-posts-index {
  .items-post {
    padding-top: 20rpx;
    // padding-bottom: 30rpx;

    .item-post {
      margin-top: 20rpx;

      &:first-of-type {
        margin-top: 0rpx;
      }

      .post-card {
        .section-header {
          .content {
            width: calc(100% - 96rpx - 60rpx - 20rpx - 60rpx) !important;
          }

          .btn-more {
            right: 20rpx;
            font-size: 32rpx;
            font-weight: bold;
          }
        }

        .section-content {
          .text-content {
            padding: 0 30rpx 0;
            // max-height: 6.4em;
            overflow: hidden;
            font-size: 30rpx;
            margin-bottom: 20rpx;
          }

          .item-video {
            .video {
              width: 100%;
            }
          }

          .items-image {
          }
        }

        //
        // 操作栏
        .section-actions {
          .item-action {
            .item-action-btn {
              width: auto;

              .text-value {
                font-weight: normal;
              }
            }
          }
        }

        //
        // 评论区
        .section-comments {
          margin-top: 0;

          .item-comment {
            padding-top: 26rpx;
            padding-bottom: 26rpx;

            .footer {
              .items-btn {
                .item-btn {
                  padding: 10rpx;
                  margin-left: 10rpx;
                  width: auto;
                  height: 44rpx;
                  font-size: 26rpx;
                }
              }
            }
          }
        }
      }
    }

  }

  .btn-create {
    z-index: 99;
    position: fixed;
    bottom: 60rpx;
    right: 40rpx;
    width: 50px;
    height: 50px;
    border-bottom: 50%;

    .icon {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
