#page-users-index {
  #section-user-card {
    .btn-edit {
      position: absolute;
      z-index: 9;
      top: 30rpx;
      right: 30rpx;

      .icon {
        font-size: 14px;
      }
    }

    .UCenter-bg {
      background-image: url(https://raw.githubusercontent.com/HeyCommunity/HeyCommunity-wxapp/dev-master/assets/images/users/default-cover.jpg);
      background-size: cover;
      height: 550rpx;
      display: flex;
      justify-content: center;
      padding-top: 40rpx;
      overflow: hidden;
      position: relative;
      flex-direction: column;
      align-items: center;
      color: #fff;
      font-weight: 300;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

      .avatar {
        border-radius: 50%;
        width: 200rpx;
        height: 200rpx;
      }

      .gif-wave {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 99;
        mix-blend-mode: screen;
        height: 100rpx;
      }
    }
  }

  .cu-list {
    button.cu-item {
      text-align: left;
      width: 100%;
      font-weight: normal;
      font-size: 30rpx;
      height: 46rpx;
      line-height: 1.6em;
    }
  }
}
