#page-posts-detail {
  padding-bottom: 170rpx;

  .item-skeleton {
    .van-skeleton {
      padding-top: 30rpx;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .item-post {
    .post-card {
      .section-header {
        .content {
          width: calc(100% - 96rpx - 60rpx - 20rpx - 60rpx) !important;
        }

        .btn-more {
          right: 20rpx;
          font-size: 32rpx;
          font-weight: bold;
        }
      }

      .section-content {
        .text-content {
          padding: 0 30rpx 0;
          font-size: 30rpx;
          margin-bottom: 20rpx;

          &.text-display-all {
            max-height: none;
            overflow: auto;
          }

          &.text-display-part {
            position: relative;

            &:after {
              content: " ...";
              position: absolute;
              bottom: 0;
              right: 30rpx;
              padding: 0 5px;
              background-color: #fff;
            }
          }
        }

        .item-video {
          .video {
            width: 100%;
          }
        }

        .items-image {
        }
      }
    }
  }

  #footer {
    padding: 30rpx 30rpx 40rpx;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    flex-direction: row;
    display: flex;

    .item {
    }

    .btn-thumb {
      height: 80rpx;
      width: 80rpx;
      font-size: 34rpx;
      color: #333333;
    }

    .box-input {
      margin-left: 1rem;
      flex-grow: 1;

      .el-input {
        background-color: #F0F0F0;
        width: 100%;
        height: 80rpx;
        line-height: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 2rem;
        justify-content: start;
        color: #333333;
      }
    }
  }
}

#modal-comment {
  .cu-dialog {
    vertical-align: unset;
  }

  .input-content {
    min-height: 7em;
  }
}
