#page-activity-index {
  #section-body {
    .activity-card {
      .img-cover {
        height: 300rpx;
        background-color: #dddddd;
      }

      .t-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .t-address {
        max-width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
